{% extends "baseXP.html" %}

    {% block menuTop %}




    <li class="hover">
    <a href="#modal-pag" role="button" data-toggle="modal" onclick="new_modal_pag_click()">
    <i class="menu-icon fa fa-plus"></i>
    <span class="menu-text">  New  </span>
    </a>

    <b class="arrow"></b>
    </li>


    <li class="hover">
    <a href="?opcion=pago">
    <i class="menu-icon fa fa-print"></i>
    <span class="menu-text">  Report  </span>
    </a>

    <b class="arrow"></b>
    </li>




    {% endblock %}



    {% block content_menu %}


    {% endblock %}




    {% block content_wrapper %}

    <div class="row" >

                <div class="col-xs-12 barra_superior_datatable" >

                    <span class="livicon"    data-hovercolor="white"
                        data-color="white" data-name="settings" data-size="24">
                    </span>
                    PAGO

                    <a class="btn btn-success pull-right bolder" href="#modal-pag" role="button" data-toggle="modal" onclick="new_modal_pag_click()" >  <span class="livicon"    data-hovercolor="white"
                        data-color="white" data-name="plus-alt" data-size="18"></span>   ADD PAGO        </a>
                
                </div>

            </div>

    <div class="row" >

    <div class="col-xs-12">


    <div class="clearfix options-print-datatable" >
    <div class="pull-right tableTools-container"></div>
    </div>

    <!--<div class="table-header">
    Listado
    </div>-->

    <div id="view">

    {{ dato.datatable|raw }} 


    </div>
    </div>

    </div>



    <div id = "modal-pag" class="modal fade" tabindex="-1">
    <div id="content-modal-pag"></div>
    </div>

    {% endblock %}

    {% block javascript %}



    <script type="text/javascript">



    function new_modal_pag_click(x) {
        goto_lsdajax001('new_pag', [x], 'content-modal-pag','module/pago/pag_AJAX.php');
    }

    function submit_modal_pag_click(x) {
        goto_lsdajax001('edit_pag', [x], 'content-modal-pag','module/pago/pag_AJAX.php');
    }



    function submit_form_pag_click() {

        var vista = 'view';
        var data = $('#form_pag').serialize();
        goto_lsdajax002('save_pag', [data], vista,'module/pago/pag_AJAX.php');

    }


    function response_lsdajax001(){
        validation_form();
    }


    function response_lsdajax002(){
        initDatatable();
    }




    initDatatable();



    function refresh_JS() {


        $(".date").datepicker({
            format: 'dd/mm/yyyy',
            showOtherMonths: true,
            selectOtherMonths: false

        });


$('.date').mask('99/99/2999');


}



</script>  

{% endblock %}


{% block css %}

{% endblock %}