<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title> Evolution - Task  </title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="distXP/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="distXP/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="distXP/css/jquery.gritter.min.css" />
    <link rel="stylesheet" href="distXP/css/fullcalendar.css" />
<script src="https://use.fontawesome.com/7b58a9f209.js"></script>
    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!-- ace styles -->
    <link rel="stylesheet" href="distXP/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link href="icheck/skins/line/blue.css" rel="stylesheet">

    <link href="distXP/ico/css/customizer.css" rel="stylesheet">
    <link href="distXP/ico/css/jquery.minicolors.css" rel="stylesheet">


    <link rel="stylesheet" href="distXP/css/primary.css" class="ace-main-stylesheet" id="main-ace-style" />

    {% block css %}{% endblock %}
        <!--[if lte IE 9]>
                <link rel="stylesheet" href="distXP/css/ace-part2.min.css" class="ace-main-stylesheet" />
                <![endif]-->

        <!--[if lte IE 9]>
          <link rel="stylesheet" href="distXP/css/ace-ie.min.css" />
          <![endif]-->

          <!-- inline styles related to this page -->

          <!-- ace settings handler -->
          <script src="distXP/js/ace-extra.min.js"></script>

          <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

        <!--[if lte IE 8]>
        <script src="distXP/js/html5shiv.min.js"></script>
        <script src="distXP/js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="no-skin">

        <div id="navbar" class="navbar navbar-default    navbar-collapse       h-navbar ace-save-state">
            <div class="navbar-container ace-save-state" id="navbar-container">
                <div class="navbar-header pull-left">
                    <button data-target="#sidebar2" type="button" class="pull-left menu-toggler navbar-toggle display">
                        <span class="sr-only">Toggle sidebar</span>

                        <i class="ace-icon fa fa-dashboard white bigger-125"></i>
                    </button><a href="#" class="navbar-brand">
                    <small>
                        <i class="fa fa-tasks"></i>
                        Evolution - Task
                    </small>
                </a>

                <button class="pull-right navbar-toggle navbar-toggle-img collapsed" type="button" data-toggle="collapse" data-target=".navbar-buttons,.navbar-menu">
                    <span class="sr-only">Toggle user menu</span>

                    <img src="./dist/avatars/user.jpg" alt="Jason's Photo">
                </button>

                <button class="pull-right navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#sidebar" aria-expanded="false">
                    <span class="sr-only">Toggle sidebar</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-buttons navbar-header pull-right  collapse navbar-collapse" role="navigation">




                <ul class="nav ace-nav">



                  {% if (  dato.notifications_modal.count  > 0 ) %}


                  <li class="transparent dropdown-modal">
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                        <span class="badge badge-important">{{ dato.notifications_modal.count }}</span>
                    </a>

                    <div class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#navbar-tasks">
                                        Tasks
                                        <span class="badge badge-danger">{{ dato.notifications_modal.count }}</span>
                                    </a>
                                </li>
                            </ul><!-- .nav-tabs -->

                            <div class="tab-content">
                                <div id="navbar-tasks" class="tab-pane in active">
                                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu">
                                        <li class="dropdown-content ace-scroll" style="position: relative;"><div class="scroll-track" style="display: none;"><div class="scroll-bar"></div></div><div class="scroll-content" style="max-height: 200px;">
                                            <ul class="dropdown-menu dropdown-navbar">



                                                {% for list in dato.notifications_modal.list  %}


                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left"> {{ list.tskden|e }} </span>
                                                            <br>
                                                            <span style="color:red" class="pull-right"> 
                                                                Expires in {{ list.tskdif|e }}  days </span>
                                                            </div>
                                                            <div class="progress progress-mini">
                                                                <div style="width:{{ ((9-( list.tskden|e ))*10) }}% " 
                                                                class="progress-bar"></div>

                                                            </div>

                                                        </a>
                                                    </li>


                                                    {% endfor %}
                                                </ul>
                                            </div><!-- /.tab-pane -->


                                        </div><!-- /.tab-content -->
                                    </div><!-- /.tabbable -->
                                </div><!-- /.dropdown-menu -->
                            </li>



                            {% endif %}























                            <li class="light-blue dropdown-modal user-min">
                                <a data-toggle="dropdown" href="#" class="dropdown-toggle">

                                    <span class="user-info">
                                        <small>Welcome,</small>
                                        {{  dato.sesion.user.usunom }}
                                    </span>

                                    <i class="ace-icon fa fa-caret-down"></i>
                                </a>

                                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">



                                    <li class="divider"></li>

                                    <li>
                                        <a href="../taskevolution/">
                                            <i class="ace-icon fa fa-power-off"></i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>






                    <nav role="navigation" class="navbar-menu pull-left collapse navbar-collapse">

                        <ul class="nav navbar-nav">

                           <li>
                            <a href="?opcion=task">
                                <i class="ace-icon fa fa-refresh"></i>
                               Reload 
                            </a>
                        </li>



                    </ul>

                </nav>






            </div><!-- /.navbar-container -->
        </div>

        <div class="main-container ace-save-state" id="main-container">
            <script type="text/javascript">
                try {
                    ace.settings.loadState('main-container')
                } catch (e) {
                }
            </script>

     <!---     <div id="sidebar" class="sidebar      h-sidebar                navbar-collapse          ace-save-state collapse" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true" aria-expanded="false" style="height: 1px;">
            <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
            </script>

          <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div>


            <div class="col-md-6 col-xs-12">
                <ul class="nav nav-list" style="top: 0px;border-bottom:none">

                    {% block menuTop %} 


                    {% endblock %}

                </ul>


            </div>







        </div> -->

        <div class="main-content"  >
            <div class="main-content-inner">


                    <!--<div id="sidebar2" class="sidebar responsive menu-min ace-save-state display" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
                                                            <ul class="nav nav-list" style="top: 0px;">
                                                                    <li>
                                                                            <a href="#">
                                                                                    <i class="menu-icon fa fa-tachometer"></i>
                                                                                    <span class="menu-text"> Dashboard </span>
                                                                            </a>

                                                                            <b class="arrow"></b>
                                                                    </li>

                                                                    <li>
                                                                            <a href="#">
                                                                                    <i class="menu-icon fa fa-list-alt"></i>
                                                                                    <span class="menu-text">Widgets</span>
                                                                            </a>

                                                                            <b class="arrow"></b>
                                                                    </li>

                                                                    <li class="">
                                                                            <a href="#">
                                                                                    <i class="menu-icon fa fa-calendar"></i>

                                                                                    <span class="menu-text">
                                                                                            Calendar
                                                                                            <span title="" class="badge badge-transparent tooltip-error" data-original-title="2 Important Events">
                                                                                                    <i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>
                                                                                            </span>
                                                                                    </span>
                                                                            </a>

                                                                            <b class="arrow"></b>
                                                                    </li>

                                                                    <li>
                                                                            <a href="#">
                                                                                    <i class="menu-icon fa fa-picture-o"></i>
                                                                                    <span class="menu-text"> Gallery </span>
                                                                            </a>

                                                                            <b class="arrow"></b>
                                                                    </li>

                                                                    <li>
                                                                            <a class="dropdown-toggle" href="#">
                                                                                    <i class="menu-icon fa fa-tag"></i>
                                                                                    <span class="menu-text"> More Pages </span>

                                                                                    <b class="arrow fa fa-angle-down"></b>
                                                                            </a>

                                                                            <b class="arrow"></b>

                                                                            <ul class="submenu">
                                                                                    <li>
                                                                                            <a href="#">
                                                                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                                                                    User Profile
                                                                                            </a>

                                                                                            <b class="arrow"></b>
                                                                                    </li>

                                                                                    <li>
                                                                                            <a href="#">
                                                                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                                                                    Inbox
                                                                                            </a>

                                                                                            <b class="arrow"></b>
                                                                                    </li>

                                                                                    <li>
                                                                                            <a href="#">
                                                                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                                                                    Pricing Tables
                                                                                            </a>

                                                                                            <b class="arrow"></b>
                                                                                    </li>

                                                                                    <li>
                                                                                            <a href="#">
                                                                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                                                                    Invoice
                                                                                            </a>

                                                                                            <b class="arrow"></b>
                                                                                    </li>

                                                                                    <li>
                                                                                            <a href="#">
                                                                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                                                                    Timeline
                                                                                            </a>

                                                                                            <b class="arrow"></b>
                                                                                    </li>

                                                                                    <li>
                                                                                            <a href="#">
                                                                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                                                                    Email Templates
                                                                                            </a>

                                                                                            <b class="arrow"></b>
                                                                                    </li>

                                                                                    <li>
                                                                                            <a href="#">
                                                                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                                                                    Login &amp; Register
                                                                                            </a>

                                                                                            <b class="arrow"></b>
                                                                                    </li>
                                                                            </ul>
                                                                    </li>

                                                                    <li>
                                                                            <a class="dropdown-toggle" href="#">
                                                                                    <i class="menu-icon fa fa-file-o"></i>

                                                                                    <span class="menu-text">
                                                                                            Other Pages
                                                                                            <span class="badge badge-primary">5</span>
                                                                                    </span>

                                                                                    <b class="arrow fa fa-angle-down"></b>
                                                                            </a>

                                                                            <b class="arrow"></b>

                                                                            <ul class="submenu">
                                                                                    <li>
                                                                                            <a href="#">
                                                                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                                                                    FAQ
                                                                                            </a>

                                                                                            <b class="arrow"></b>
                                                                                    </li>

                                                                                    <li>
                                                                                            <a href="#">
                                                                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                                                                    Error 404
                                                                                            </a>

                                                                                            <b class="arrow"></b>
                                                                                    </li>

                                                                                    <li>
                                                                                            <a href="#">
                                                                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                                                                    Error 500
                                                                                            </a>

                                                                                            <b class="arrow"></b>
                                                                                    </li>

                                                                                    <li>
                                                                                            <a href="#">
                                                                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                                                                    Grid
                                                                                            </a>

                                                                                            <b class="arrow"></b>
                                                                                    </li>

                                                                                    <li>
                                                                                            <a href="#">
                                                                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                                                                    Blank Page
                                                                                            </a>

                                                                                            <b class="arrow"></b>
                                                                                    </li>
                                                                            </ul>
                                                                    </li>
                                                            </ul><

                                                            <div class="sidebar-toggle sidebar-collapse">
                                                                    <i id="sidebar3-toggle-icon" class="ace-icon fa fa-angle-double-right ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
                                                            </div>
                                                        </div>-->




                                                        <div class="page-content main-content">




                                                            <div class="page-header">
                                                                {% block content_wrapper %}{% endblock %}
                                                            </div><!-- /.page-header -->








                                                        </div><!-- /.page-content -->
                                                    </div>
                                                </div><!-- /.main-content -->



                                                <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                                                    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
                                                </a>
                                            </div>

                                            {{ dato.modulos|raw }}

                                            <!-- basic scripts -->

                                            <!--[if !IE]> -->
                                            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

                                            <!-- <![endif]-->

        <!--[if IE]>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <![endif]-->

        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write("<script src='distXP/js/jquery.min.js'>" + "<" + "/script>");
        </script>

        <!-- <![endif]-->

        <!--[if IE]>
        <script type="text/javascript">
        window.jQuery || document.write("<script src='distXP/js/jquery1x.min.js'>"+"<"+"/script>");
        </script>
        <![endif]-->
        <script type="text/javascript">
            if ('ontouchstart' in document.documentElement)
                document.write("<script src='distXP/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
        </script>
        <script src="distXP/js/bootstrap.min.js"></script>

        <script src="distXP/js/jquery-ui.custom.js"></script>
        <script src="distXP/js/jquery.ui.touch-punch.js"></script>
        <script src="distXP/js/jquery.cookie.js"></script>
        <script src="distXP/js/jquery.ui.touch-punch.min.js"></script>
        <script src="distXP/js/date-time/moment.min.js"></script>
        <script src="distXP/js/fullcalendar.js"></script>

        <script src="distXP/js/chosen.jquery.min.js"></script>
        <script src="distXP/js/fuelux/fuelux.spinner.min.js"></script>
        <script src="distXP/js/bootbox.js"></script>

        <script src="distXP/js/date-time/bootstrap-datepicker.min.js"></script>
        <script src="distXP/js/date-time/bootstrap-timepicker.min.js"></script>
        <script src="distXP/js/date-time/daterangepicker.min.js"></script>
        <script src="distXP/js/date-time/bootstrap-datetimepicker.min.js"></script>
        <script src="distXP/js/autosize.min.js"></script>
        <script src="distXP/js/jquery.inputlimiter.1.3.1.min.js"></script>
        <script src="distXP/js/jquery.maskedinput.min.js"></script>
        <script src="distXP/js/bootstrap-tag.min.js"></script>
        <script src="distXP/js/bootstrap-tag.min.js"></script>        
        <script src="distXP/js/bootstrap-datetimepicker_new.js"></script>        
        <!-- page specific plugin scripts -->

        <script src="lib/inputmask/dist/jquery.inputmask.bundle.js"></script>
        <script src="lib/inputmask/dist/inputmask/inputmask.numeric.extensions.js"></script>
        <script src="lib/inputmask/dist/inputmask/inputmask.regex.extensions.js"></script>
        <script src="lib/inputmask/dist/inputmask/inputmask.extensions.js"></script>
        <script src="lib/inputmask/dist/inputmask/inputmask.date.extensions.js"></script>

        <!--    DATATABLE  -->
        <script src="distXP/js/dataTables/jquery.dataTables.min.js"></script>
        <script src="distXP/js/dataTables/jquery.dataTables.bootstrap.min.js"></script>
        <script src="distXP/js/dataTables/extensions/buttons/dataTables.buttons.min.js"></script>
        <script src="distXP/js/dataTables/extensions/buttons/buttons.flash.min.js"></script>
        <script src="distXP/js/dataTables/extensions/buttons/buttons.html5.min.js"></script>
        <script src="distXP/js/dataTables/extensions/buttons/buttons.print.min.js"></script>
        <script src="distXP/js/dataTables/extensions/buttons/buttons.colVis.min.js"></script>
        <script src="distXP/js/dataTables/extensions/select/dataTables.select.min.js"></script>
        <script src="distXP/js/bootstrap-multiselect.min.js"></script>
        <script src="distXP/js/jquery.bootstrap-duallistbox.min.js"></script>
        <script src="icheck/icheck.js"></script>

        <script src="distXP/ico/js/raphael-min.js"></script>
        <script src="distXP/ico/js/livicons-customizer-1.4.js"></script>
        <script src="distXP/ico/js/jquery.inputCtl.min.js"></script>  
        <script src="distXP/ico/js/jquery.minicolors.min.js"></script>
        <script src="distXP/ico/js/customizer.js"></script>

        <script type="text/javascript">



            function initDatatable() {

                var myTable = $('#table').DataTable({
                    bAutoWidth: false,
                    "aaSorting": [],
                    "iDisplayLength": 200
                });

                $('.options-print-datatable').css("display", "none");


        $.fn.dataTable.Buttons.swfPath = "distXP/js/dataTables/extensions/buttons/swf/flashExport.swf"; //in Ace demo dist will be replaced by correct assets path
        $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

        new $.fn.dataTable.Buttons(myTable, {
            buttons: [
            {
                "extend": "colvis",
                "text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>Show/hide columns</span>",
                "className": "btn btn-white btn-primary btn-bold",
                columns: ':not(:first):not(:last)'
            },
            {
                "extend": "copy",
                "text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
                "className": "btn btn-white btn-primary btn-bold"
            },
            {
                "extend": "csv",
                "text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
                "className": "btn btn-white btn-primary btn-bold"
            },
            {
                "extend": "excel",
                "text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
                "className": "btn btn-white btn-primary btn-bold"
            },
            {
                "extend": "pdf",
                "text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
                "className": "btn btn-white btn-primary btn-bold"
            },
            {
                "extend": "print",
                "text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
                "className": "btn btn-white btn-primary btn-bold",
                autoPrint: false,
                message: 'This print was produced using the Print button for DataTables'
            }
            ]
        });


        myTable.buttons().container().appendTo($('.tableTools-container'));


        //style the message box
        var defaultCopyAction = myTable.button(1).action();
        myTable.button(1).action(function (e, dt, button, config) {
            defaultCopyAction(e, dt, button, config);
            $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
        });



        var defaultColvisAction = myTable.button(0).action();
        myTable.button(0).action(function (e, dt, button, config) {

            defaultColvisAction(e, dt, button, config);


            if ($('.dt-button-collection > .dropdown-menu').length == 0) {
                $('.dt-button-collection')
                .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                .find('a').attr('href', '#').wrap("<li />")
            }
            $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
        });

        ////


        setTimeout(function () {
            $($('.tableTools-container')).find('a.dt-button').each(function () {
                var div = $(this).find(' > div').first();
                if (div.length == 1)
                    div.tooltip({container: 'body', title: div.parent().text()});
                else
                    $(this).tooltip({container: 'body', title: $(this).text()});
            });
        }, 500);



        myTable.on('select', function (e, dt, type, index) {
            if (type === 'row') {
                $(myTable.row(index).node()).find('input:checkbox').prop('checked', true);
            }
        });



        myTable.on('deselect', function (e, dt, type, index) {
            if (type === 'row') {
                $(myTable.row(index).node()).find('input:checkbox').prop('checked', false);
            }
        });


    }



    function validation_form(){

        $(".email_form").inputmask("email");
        $(".url_form").inputmask("url");
        $(".100_form").inputmask('Regex', { regex: "^[1-9][0-9]?$|^100$" }); 
        $(".1000_form").inputmask('Regex', { regex: "^[1-9][0-9]?$|^1000$" }); 
        $(".10_form").inputmask('Regex', { regex: "^[1-9][0-9]?$|^10$" }); 


        $('.spinner3').ace_spinner({value:0,min:-100,max:100,step:10, on_sides: true, icon_up:'ace-icon fa fa-plus bigger-110', icon_down:'ace-icon fa fa-minus bigger-110', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});

        $('.spinner1').ace_spinner({value:1,min:0,max:20,step:1, on_sides: true, icon_up:'ace-icon fa fa-plus bigger-110', icon_down:'ace-icon fa fa-minus bigger-110', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});

    }


</script>


<!-- page specific plugin scripts -->




<script src="lsdAjax.js"></script>

<!-- ace scripts -->
<script src="distXP/js/ace-elements.min.js"></script>
<script src="distXP/js/ace.min.js"></script>
{% block javascript %}{% endblock %}
<!-- inline scripts related to this page -->
{{ dato.js|raw }}
</body>


</html>
