{% extends "baseXP.html" %}

    {% block menuTop %}




    <li class="hover">
    <a href="#modal-caj" role="button" data-toggle="modal" onclick="new_modal_caj_click()">
    <i class="menu-icon fa fa-plus"></i>
    <span class="menu-text">  New  </span>
    </a>

    <b class="arrow"></b>
    </li>


    <li class="hover">
    <a href="?opcion=caja">
    <i class="menu-icon fa fa-print"></i>
    <span class="menu-text">  Report  </span>
    </a>
    <b class="arrow"></b>
    </li>




    {% endblock %}



    {% block content_menu %}


    {% endblock %}




    {% block content_wrapper %}

<div class="row" >

    <div class="col-xs-12 barra_superior_datatable" >

        <span class="livicon"    data-hovercolor="white"
            data-color="white" data-name="settings" data-size="24">
        </span>
        CAJA

        <a class="btn btn-success pull-right bolder" href="#modal-caj" role="button" data-toggle="modal" onclick="new_modal_caj_click()" >  <span class="livicon"    data-hovercolor="white"
            data-color="white" data-name="plus-alt" data-size="18"></span>   CAJA 
        </a>
    
    </div>

</div>


    <div class="row" >

    <div class="col-xs-12">


    <div class="clearfix options-print-datatable" >
    <div class="pull-right tableTools-container"></div>
    </div>

    <!--<div class="table-header">
    Listado
    </div>-->

    <div id="view">

    {{ dato.datatable|raw }} 


    </div>
    </div>

    </div>



    <div id = "modal-caj" class="modal fade" tabindex="-1">
    <div id="content-modal-caj"></div>
    </div>

    {% endblock %}

    {% block javascript %}



    <script type="text/javascript">



    function new_modal_caj_click(x) {
        goto_lsdajax001('new_caj', [x], 'content-modal-caj','module/caja/caj_AJAX.php');
    }

    function submit_modal_caj_click(x) {
        goto_lsdajax001('edit_caj', [x], 'content-modal-caj','module/caja/caj_AJAX.php');
    }



    function submit_form_caj_click() {

        var vista = 'view';
        var data = $('#form_caj').serialize();
        goto_lsdajax002('save_caj', [data], vista,'module/caja/caj_AJAX.php');

    }


    function response_lsdajax001(){
        validation_form();
    }


    function response_lsdajax002(){
        initDatatable();
    }




    initDatatable();



    function refresh_JS() {


        $(".date").datepicker({
            format: 'dd/mm/yyyy',
            showOtherMonths: true,
            selectOtherMonths: false

        });


$('.date').mask('99/99/2999');


}



</script>  

{% endblock %}


{% block css %}

{% endblock %}