{% extends "../baseXP.html" %}

{% block menuTop %}

{% endblock %}



{% block content_menu %}

{% endblock %}




{% block content_wrapper %}



<div class="row" >

    <div class="col-xs-12">

        <a href="#" class="btn btn-default btn-app radius-4">
            <i class="ace-icon fa fa-cog bigger-230"></i>
            Default
            <span class="badge badge-pink">+3</span>
        </a>




    </div>
</div>

{% endblock %}

{% block javascript %}


{% endblock %}


{% block css %}

{% endblock %}